.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 20px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  overscroll-behavior: none;
}

.messagesWrapper {
  flex: 1;
  overflow: hidden;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto;
  overscroll-behavior: contain;
}
